/*font-family: 'Saira', sans-serif;*/
/*font-family: 'Saira Condensed', sans-serif;*/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

header {
    position: relative;
    background-color: #29a6dc;
    height: 100vh;
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;

}

header > * {
    position: absolute;
}

header img {
    height: 50%;
    bottom: 0;
    right: 0;

}

header div.welcome {
    z-index: 1;
    top: 7%;
    right: 5%;
    left: 5%;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Saira Condensed', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 40px;

}


header h1 {
    margin-top: 15px;
    font-size: 20px;

}

header h2 {
    font-weight: normal;
    font-size: 20px;
}

header button {
    line-height: 32px;
    padding: 0 20px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    font-size: 12px;
    font-family: 'Saira', sans-serif;
    font-weight: 300;
}

@media (orientation: portrait) and (min-width: 360px) {
    header h1 {
        font-size: 24px;
    }

    header h2 {
        font-size: 24px;
    }

    header button {
        margin: 24px;
        line-height: 40px;
        font-size: 15px;
    }
}


@media (orientation: portrait) and (min-width: 410px) {
    header h1 {
        font-size: 26px;
    }

    header h2 {
        font-size: 26px;
    }

    header button {
        margin-top: 40px;
        line-height: 50px;
        font-size: 20px;
    }

    header img {
        right: -20%;
    }
}

@media (orientation: portrait) and (min-width: 768px) {
    header p {
        font-size: 80px;
    }

    header h1 {
        font-size: 32px;
    }

    header h2 {
        font-size: 32px;
    }

    header button {
        margin: 60px;
        line-height: 60px;
        font-size: 40px;
    }

    header img {
        right: -20%;
    }
}

@media (orientation: landscape) {

    header img {
        height: 80%;
        bottom: 0px;
        right: -5px;
    }

    header div.welcome {
        top: 15%;
        left: 5%;
        right: 48%;
    }

    header button {
        margin-top: 10px;
    }
}

@media (orientation: landscape) and (min-width: 640px) {

    header h1 {
        font-size: 25px;
    }

    header h2 {
        font-size: 25px;
    }

    header button {
        font-size: 16px;
        line-height: 40px;
    }

}



@media (orientation: landscape) and (min-width: 1024px) {
    header div.welcome {

        left: 6%;
    }

    header p {
        font-size: 56px;
    }

    header h1 {
        font-size: 50px;
        margin-top: 40px;
    }

    header h2 {
        font-size: 34px;
    }

    header button {
        margin-top: 80px;
        line-height: 70px;
        font-size: 28px;


    }

    header img {
        right: -22%;
        height: 85%;
    }
}

@media (orientation: landscape) and (min-width: 1280px) {

    header div.welcome {
        text-align: left;
        left: 16%;
    }



    header p {
        font-size: 100px;
    }

    header h1 {
        margin-top: 40px;
        font-size: 50px;
    }

    header h2 {
        font-size: 50px;
    }

    header button {
        margin-top: 100px;
        line-height: 80px;
        font-size: 30px;
        padding: 0 40px;
        border-width: 2px;
    }

    header img {
        right: -2%;
        height: 90%;
    }
}

@media (orientation: landscape) and (min-width: 1600px) {
    header div.welcome {

        left: 8%;
    }


    header p {
        font-size: 120px;
    }

    header h1 {
        margin-top: 40px;
        font-size: 60px;
    }

    header h2 {
        font-size: 60px;
    }

    header button {

        line-height: 80px;
    }

    header img {
        right: -8%;
        height: 90%;
    }
}

@media (min-width: 1024px) {
    header button {
        cursor: pointer;
        transition: .3s;
    }

    header button:hover {

        background-color: white;
        color: #111;
    }

}



/*sekcja I nasze cech*/

.features {
    max-width: 1600px;
    margin: 50px auto 0;

    padding: 5%;
    text-align: center;
}

.features h1 {
    font-family: 'Saira Condensed', sans-serif;

    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.features h2 {
    font-family: 'Saira Condensed', sans-serif;

    font-size: 22px;
    text-transform: uppercase;
}

.features p {
    font-family: 'Saira', sans-serif;
    font-weight: 300;
    font-size: 12px;
    margin: 20px 0;

}


.features img {
    width: 100%;
    margin: 5px 0;
    max-width: 375px;
}

@media (min-width: 360px) {

    .features h1 {
        font-size: 28px;
    }

    .features h2 {
        font-size: 24px;
    }

    .features p {
        font-size: 14px;
    }

}

@media (min-width: 768px) {

    .features h1 {
        font-size: 36px;
    }

    .features h2 {
        font-size: 28px;
    }

    .features p {
        font-size: 18px;
    }

}

@media (min-width: 1024px) {
    .features {
        margin-top: 50px;
        padding: 5% 2%;
        text-align: center;
    }

    .featurs {
        float: left;
        width: 33%;
        padding: 20px;
    }

    .features h1 {
        font-size: 36px;
    }

    .features h2 {
        font-size: 22px;
    }

    .features p {
        font-size: 16px;
        line-height: 120%;
        padding: 0 10px;
    }

}

@media (min-width: 1600px) {
    .featurs {

        padding: 20px 50px;

        .features h1 {
            font-size: 60px;
        }

        .features h2 {
            font-size: 32px;
        }

        .features p {
            font-size: 21px;
            line-height: 140%;
            padding: 0 10px;
        }

    }
}


.portfolio {
    background-color: black;
    padding: 10px 0 30px;
}

.portfolio h1 {

    font-size: 28px;
    font-family: 'Saira Condensed', sans-serif;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 10 20px;
    margin-bottom: 15px;

}

.portfolio .web img {
    width: 100%;


}

.portfolio .abaut {
    color: white;
    font-family: 'Saira', sans-serif;
    font-weight: normal;
    padding: 10px 20px 20px 0px;
    text-align: left;

}

.portfolio .abaut h2 {
    font-size: 18px;

    border-bottom: 2px solid white;
    margin-bottom: 12px;
    padding-bottom: 6px;
    text-indent: 20px;

}

.portfolio .abaut p {
    font-size: 12px;
    padding-left: 20px;
}

.portfolio .project {
    max-width: 1400px;
    margin: 0 auto 20px;
}

.portfolio .project:nth-of-type(odd) {
    background-color: #ff4f2c;
}

.portfolio .project:nth-of-type(even) {
    background-color: #0170ba;
}

@media (min-width: 768px) {



    .portfolio h1 {
        font-size: 40px;
    }

    .portfolio .abaut h2 {
        font-size: 28px;
        text-indent: 40px;
    }

    .portfolio .abaut p {
        font-size: 18px;
        padding-left: 40px;

    }

    .portfolio .project {

        margin: 0 auto 40px;
    }
}

@media (orientation: landscape) {

    .web,
    .abaut {
        width: 50%;
        float: left;
    }

    .web img {
        display: block;
    }

    .project:nth-of-type(even) .web {
        float: right;
    }

    .project:nth-of-type(even) .abaut {
        padding-right: 10px;
    }

    .project:nth-of-type(even) .abaut p {
        padding-right: 20px;
    }

    .project:nth-of-type(even) .abaut h2 {
        text-indent: 0;
        margin-left: 40px;
    }
}

@media (orientation: landscape) and (min-width: 1400px) {


    margin: 0 auto 40px;


    .portfolio h1 {
        font-size: 60px;
        padding: 30px 0;
    }

    .portfolio .abaut h2 {
        font-size: 28px;
        text-indent: 40px;
        padding-top: 5px;
        margin-bottom: 50px;
    }

    .portfolio .abaut p {
        font-size: 18px;
        padding-left: 40px;
        line-height: 180%;

    }
}






/*slogan sekcja */
.slogan {
    text-align: center;
    background-image: url(../images/motto.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
}


.slogan h1 {
    font-family: 'Saira Condensed', sans-serif;

    font-size: 26px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.slogan p {
    font-family: 'saira', sans-serif;
    font-size: 18px;

}

.slogan p.autor {
    font-size: 12px;
    margin-top: 20px;
}

.slogan .bg {
    padding: 30px 10px;
    background-color: rgba(0, 63, 114, 0.5);
}

@media (orientation: landscape) {
    .slogan p {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 760px) {
    .slogan .bg {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .slogan h1 {


        font-size: 38px;
        margin-bottom: 25px;
    }

    .slogan p {

        font-size: 26px;
        width: 60%;
        margin: 0 auto;

    }

    .slogan p.autor {
        font-size: 18px;
        margin-top: 40px;
    }

}

@media (min-width: 1024px) {
    .slogan .bg {
        padding-top: 80px;

    }

    .slogan h1 {


        font-size: 45px;
        margin-bottom: 55px;
    }

    .slogan p {

        font-size: 30px;
        width: 60%;
        margin: 0 auto;

    }

    .slogan p.autor {
        font-size: 26px;
        margin-top: 40px;
    }

}


/*sekcja hobby*/
.hobby {
    max-width: 1920px;
    margin: 0 auto;
}

.hobby .item {
    height: 25vh;
    background-position: center;
    background-repeat: no-repeat;
}



.hobby .item:nth-of-type(1) {
    background-image: url(../images/hobby1.jpg);

}

.hobby .item:nth-of-type(2) {
    background-image: url(../images/hobby2.jpg);
}

.hobby .item:nth-of-type(3) {
    background-image: url(../images/hobby3.jpg);
}

.hobby .item:nth-of-type(4) {
    background-image: url(../images/hobby4.jpg);
}

.hobby .item p {
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
    color: white;
    /*    line-height: 25vh;*/
    text-shadow: 0 0 4px black;
    background-color: rgba(0, 0, 0, .5);
    font-size: 20px;
    padding: 5px 0;
}

.hobby h1 {
    font-size: 36px;
    padding: 20px;
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
}

@media (min-width: 533px) {
    .hobby .item {
        float: left;
        width: 50%;
        height: 40vh;
    }
}

@media (min-width: 738px) {
    .hobby h1 {
        font-size: 48px;
        margin-top: 40px;
        margin-bottom: 35px;
    }

    .hobby .item p {
        font-size: 30px;
        padding: 15px 0;

    }
}

@media (min-width: 1024px) {
    .hobby .item p {
        font-size: 30px;
        padding: 0;
        line-height: 40vh;
        opacity: 0;
        transition: 1s;
        cursor: default;
    }

    .hobby .item:hover p {
        opacity: 1;
    }

    .hobby .item {
        background-size: 100%;
        transition: 1s;
    }

    .hobby .item:hover {
        background-size: 130%;
    }

}

@media (min-width: 1600px) {
    .hobby h1 {
        font-size: 60px;
        margin-top: 40px;
        margin-bottom: 35px;
    }

    .hobby .item p {
        font-size: 40px;
    }
}


/*sekcja kontakt*/

.contact {
    background-color: black;
    padding: 30px 20px;
}

.contact h1 {
    font-size: 26px;
    padding: 20px;
    font-family: 'Saira Condensed', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: white;
    text-align: center;

}

.contact .wrap {
    padding-top: 20px;
    max-width: 1024px;
    margin: 0 auto;
}

.contact input,
.contact button,
.contact textarea {
    width: 100%;
    margin-bottom: 25px;
    font-family: saira, sans-serif;
    font-size: 12px;
    padding: 5px;
}

.contact input {
    height: 36px;

}

.contact textarea {
    height: 120px;
}

.contact button {
    background-color: black;
    height: 40px;
    color: white;
    border: 2px solid white;
}

.contact .socials {
    padding-top: 20px;
    font-size: 0;
}

.contact .social {
    padding: 10px 0;
    color: white;
    font-family: 'Saira Condensed', sans-serif;
    font-size: 20px;

}

.contact .socials img {
    float: left;

}

.contact .socials a {
    line-height: 72px;
    padding-left: 20px;
    float: left;
    color: white;
    text-decoration-line: none;

}






@media (min-width: 533px) {
    .contact .social {
        display: inline-block;
        width: 50%;
    }
}

@media (min-width: 1024px) {

    .contact form,
    .contact .socials {
        float: left;
        width: 50%;
        padding: 0 20px;
    }

    .contact .social {
        display: block;
        width: 50%;
        margin: 0 auto;
    }

    .contact input {
        height: 36px;
        font-size: 18px;

    }

    .contact textarea {
        height: 140px;
        font-size: 18px;
    }

    .contact button {
        background-color: black;
        height: 40px;
        color: white;
        border: 2px solid white;
        transition: .3s;

    }

    .contact button:hover {
        background-color: white;
        color: black;
        transition: .3s;

    }



}

footer {
    background-color: #29a6dc;
    color: white;
    font-family: saira, sans-serif;
    text-align: center;
    font-size: 20px;
    padding: 20px;
}
